
/target/

*.class

# Mobile Tools for Java (J2ME)
.mtj.tmp/

# Package Files #
*.jar
*.war
*.ear




# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*


# additional files to be ignored 
.settings/
doc/
target/
tests/
samples/
test-output/
.project
src/main/java/com/evolveum/polygon/scim/Main.java
.classpath
/bin/
